.box1{
height: 250px;
width: 200px;
padding: 5px;
margin: 10px;
border: 3px solid yellowgreen;
background-color: gray;
color: skyblue;
float: left;
}
.box2{
    height: 250px;
    width: 200px;
    padding: 5px;
    margin: 10px;
    border: 3px solid red;
    background-color: salmon;
    color: darkblue;
    float: left;
    }
    .themes{
        overflow: hidden;
    }
    .circle{
        height: 16px;
        width: 20px;
        padding: 5px;
        margin: 10px;
        border: 3px solid yellow;
        border-radius: 10px;
        background-color: blue;
        color: skyblue;
        float: left;
        margin-right: 10px;
        border: 2px solid gray;
        }