#app{
background-color: gold;
margin: 30px;
padding: 30px;
color: darkblue;
overflow: hidden;
}

h1{
font-family: arial;
color: rgb(red, green, blue)
}

h3{
    font-style: italic;
}
#box-group{
width: 100%;
overflow: hidden;


}